:root {
  --controlPanel: #2b2b2d;
  --controlPanelBorder: 2px;
  --controlItemBg: radial-gradient(
    circle,
    rgba(253, 253, 179, 1) 0%,
    rgba(211, 195, 155, 1) 59%,
    rgba(229, 214, 180, 1) 63%,
    rgba(229, 214, 180, 1) 67%,
    rgba(107, 92, 66, 1) 70%,
    rgba(107, 92, 66, 1) 100%
  );
  --controlItemWidth: 90px;
  --controlItemImgBorder: 6px;
  --controlItemImgInnerWidth: calc(
    (var(--controlItemWidth) - 2 * var(--controlItemImgBorder)) / 1.4
  );
  --controlItemTextHeight: 30px;

  --goldBorder: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  --silverBorder: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  --balanceContainerWidth: 200px;
  --balanceContainerHeight: 50px;

  --betActionWidth: 50px;
  --betActionBorder: 2px;
  --betActionImgInnerWidth: calc(
    (var(--betActionWidth) - 2 * var(--betActionBorder)) / 1.4
  );

  --helperSize: 50px;
  --reducingCoeffisient: 0.9;
}

@font-face {
  font-family: "OldStandard";
  src: url("./assets/fonts/OldStandardTT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "OldStandard";
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
