:root {
    --controlPanel: #0c1007c7;
    --controlPanelBorder: 2px;
    --controlItemBg: radial-gradient(circle, rgba(253,253,179,1) 0%, rgba(211,195,155,1) 59%, rgba(229,214,180,1) 63%, rgba(229,214,180,1) 67%, rgba(107,92,66,1) 70%, rgba(107,92,66,1) 100%);
    --controlItemWidth: 70px;
    --controlItemImgBorder: 6px;
    --controlItemImgInnerWidth: calc((var(--controlItemWidth) - 2*var(--controlItemImgBorder)) / 1.4);
    --controlItemTextHeight: 30px;

    --balanceContainerWidth: 200px;
    --balanceContainerHeight: 50px;

    --betActionWidth: 50px;
    --betActionBorder: 2px;
    --betActionImgInnerWidth: calc((var(--betActionWidth) - 2*var(--betActionBorder)) / 1.4);
  }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
}
canvas {
    width: 100%;
    height: 100%;
    /* max-width: 1000px;
    max-height: 800px; */
    outline: none;
}

/* #canvas {
    position: "absolute";
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-image: url('./assets/img/background.jpg'),
} */