.actionsPanel {
  position: absolute;
  /* top: -60px; */
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  min-width: 460px;
  height: 60px;
  border: solid var(--controlPanelBorder) transparent;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom: none;
  background-image: linear-gradient(var(--controlPanel) 0 0), var(--goldBorder);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  /* border: solid var(--controlPanelBorder) transparent; */
  /* -moz-border-image: -moz-linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  -webkit-border-image: -webkit-linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  border-image: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  border-image-slice: 1;
  background: var(--controlPanel); */
}

.inner {
  display: flex;
  position: relative;
  top: -40px;
  justify-content: center;
}

.controlItem {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: var(--controlItemWidth);
  width: var(--controlItemWidth);

  margin: 0px 7px;

  cursor: pointer;
}

.controlItem:hover .imgContainer {
  -webkit-box-shadow: 0px 0px 16px 10px rgba(255, 246, 128, 0.6);
  -moz-box-shadow: 0px 0px 16px 10px rgba(255, 246, 128, 0.6);
  box-shadow: 0px 0px 16px 10px rgba(255, 246, 128, 0.6);
}

.controlItem:disabled {
  cursor: auto;
}

.controlItem:disabled .imgContainer {
  background-image: radial-gradient(
      circle,
      rgb(255 255 255) 0%,
      rgb(176 176 176) 25%,
      rgb(156 156 156) 40%,
      rgb(120 120 120) 60%,
      rgb(0 0 0) 100%
    ),
    radial-gradient(
      circle,
      rgba(40, 32, 16, 1) 65%,
      rgba(108, 104, 96, 1) 68%,
      rgba(32, 31, 29, 1) 85%
    );

  box-shadow: none;
}

.controlItem:disabled .textContainer {
  background-image: linear-gradient(
      180deg,
      rgb(86 86 86) 0%,
      rgb(168 168 168) 40%,
      rgb(86 86 86) 100%
    ),
    linear-gradient(to right, #898989, #ffffff, #cccccc, #7c7c7c, #9f9f9f);
}

.imgContainer {
  /* position: relative; */
  /* 
  height: var(--controlItemWidth);
  width: var(--controlItemWidth); */
  height: var(--controlItemWidth);
  width: var(--controlItemWidth);
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: var(--controlItemImgBorder); */

  border: solid var(--controlItemImgBorder) transparent;
  border-radius: 50%;
  background-image: radial-gradient(
      circle,
      rgba(253, 253, 179, 1) 0%,
      rgba(211, 195, 155, 1) 59%,
      rgba(229, 214, 180, 1) 63%,
      rgba(229, 214, 180, 1) 67%,
      rgba(107, 92, 66, 1) 70%,
      rgba(107, 92, 66, 1) 100%
    ),
    radial-gradient(
      circle,
      rgba(40, 32, 16, 1) 65%,
      rgba(108, 104, 96, 1) 68%,
      rgba(32, 31, 29, 1) 85%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;

  transition: box-shadow 0.2s ease-in;
}

.imgContainerInner {
  width: var(--controlItemImgInnerWidth);
  height: var(--controlItemImgInnerWidth);
}

.imgContainerInner svg {
  width: 100%;
  height: 100%;
}

.textContainer {
  position: absolute;
  bottom: -18px;

  width: 100%;
  height: var(--controlItemTextHeight);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid yellow;
  border: solid 2px transparent;
  border-radius: 20px;

  background: rgb(25, 25, 26);
  /* background: linear-gradient(
    180deg,
    rgba(25, 25, 26, 1) 0%,
    rgba(96, 82, 25, 1) 36%,
    rgba(103, 86, 18, 1) 50%,
    rgba(92, 79, 25, 1) 69%,
    rgba(25, 25, 26, 1) 100%
  ); */
  background-image: linear-gradient(
      180deg,
      rgba(25, 25, 26, 1) 0%,
      rgba(105, 100, 81, 1) 38%,
      rgba(115, 109, 89, 1) 50%,
      rgba(92, 87, 69, 1) 69%,
      rgba(25, 25, 26, 1) 100%
    ),
    linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px), screen and (max-height: 820px) {
  .actionsPanel {
    top: -45px;
    height: 45px;
  }
  .controlItem {
    width: 75px;
    height: 75px;
  }

  .imgContainer {
    width: 75px;
    height: 75px;
  }

  .imgContainerInner {
    width: calc((75px - 2 * var(--controlItemImgBorder)) / 1.4);
    height: calc((75px - 2 * var(--controlItemImgBorder)) / 1.4);
  }

  .textContainer {
    font-size: 12px;
    width: 100%;
  }
}

@media screen and (max-height: 580px) {
  /* .actionsPanel {
        top: -55px;
        height: 55px;
    } */
}
@media screen and (max-width: 480px), screen and (max-height: 580px) {
  .actionsPanel {
    width: 100%;
    top: -30px;
    height: 30px;
    min-width: 320px;
  }

  .inner {
    top: -18px;
  }
  .textContainer {
    display: none;
  }

  .controlItem {
    width: 55px;
    height: 55px;
    margin: 0px 2px;
  }

  .imgContainer {
    width: 55px;
    height: 55px;
  }

  .imgContainerInner {
    width: calc((55px - 2 * var(--controlItemImgBorder)) / 1.4);
    height: calc((55px - 2 * var(--controlItemImgBorder)) / 1.4);
  }
}
