.balanceContainer {
    width: var(--balanceContainerWidth);
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;

    background-color: #18181A;

    border-radius: 5px;

    color: #FFFFFF;
}

.inner {
    height: 100%;
    width: 100%;

    padding: 0px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.amount {
    display: flex;
    height: 15px;
    width: 100%;
}

.amountKey {
    /* width: 50%; */
    flex: 0 0 60%;
}

.amountValue {
    flex: 0 0 40%;

    display: flex;
    justify-content: flex-end;
}

.balance {
  width: 100px;
  height: 100px;
  display: flex;

  border: 3px solid red;
}